[color]
	ui = true
[push]
	default = simple
[user]
	name = zen
	email = 0x11cb@gmail.com
	signingkey = ssh-ed25519 EXAMPLE_KEY
[commit]
	gpgsign = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
[core]
	excludesfile = $HOME/.gitignore
[alias]
	logs = log --color --graph --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr) %C(cyan)%an <%aE>%Creset' --abbrev-commit
# [open "https://git.example.com"]
	# protocol = http
# [includeIf "gitdir:~/work/acme/"]
	# path = gitdir:~/work/acme/.gitconfig