[color]
	ui = true
[push]
	default = simple
	autoSetupRemote = true
[core]
	ignorecase = false
	excludesfile = ~/.config/git/.gitignore
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
[user]
	signingkey = ssh-ed25519 EXAMPLE_KEY
	name = zen
	email = 0x11cb@gmail.com
[alias]
	logs = log --color --graph --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr) %C(cyan)%an <%aE>%Creset' --abbrev-commit
# [open "https://git.example.com"]
	# protocol = http
# [includeIf "gitdir:~/work/acme/"]
	# path = gitdir:~/work/acme/.gitconfig